.App {
  font-family: sans-serif;
  text-align: center;
}

.Logo {
  height: 300px;
}



#footer{
  height: 10%;
  background-color: grey;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 100px;
}

#redes{
  display: flex;
  justify-content: space-between;
  width: 50vh;
}

h1{
  height: 10vh;
}